.form {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
}

.form_input {
    width: 100%;
    border-radius: 54px;
    padding: 24px 32px;
    font-size: 24px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 8px black;
}

.form_input:focus {
    box-shadow: 0 0 8px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.form_btn {
    position: absolute;
    width: 54px;
    height: 54px;
    margin: 16px;
    border-radius: 54px;
    right: 0px;
    border: none;
    font-size: 16px;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 16px black;
}

.form_btn:hover {
    background-color: #388ae2;
}

.form_btn:active {
    transform: scale(0.8);
    box-shadow: 0 0 8px black;
}

@media (max-width: 700px) {
    .form {
        width: 95%;
    }
}
